body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  /* max-width: 500px; */
  margin: 30px auto;
  /* overflow: auto; */
  /* min-height: 300px; */
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 5px;
  direction: rtl;
}

.container-btn {
  /* max-width: 500px; */
  display: inline-grid;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 5px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  /* display: block; */
  width: 20%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  direction: rtl;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 40%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.Dashboard{
    max-width: 75%;
    height: 800px;
    margin: 30px auto;
    overflow: auto;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  .titleCases{
    text-align: center;
    width: 100%;
    padding: 2px;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    background-color: #523A28;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    font-family: cursive;
    font-weight: bold;
  }

  .responsive {
    width: 50%;
    height: auto;
    margin-top: 20px;
    
  }
  
  .btn-group {
    display: inline-block;
    background: #523A28;
    color: white;
    border: none;
    border-color: #D0B49F;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
    font-weight: bold;
    border-radius: 20px;
  }
    
.Lawyer-background{
  /* position:fixed;
  padding:0;
    margin:0;
    top:0;
    left:0; */
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
  background-image: url(./pic/background.jpg);
  /* background-size: auto; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-position:center; */
  overflow-y: 'scroll';
  white-space: nowrap;

}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* height: 32%; */
  padding-top: 20px;
  



}

.container-casetype{
  overflow-y: 'scroll';
  /* max-width: 500px; */
  margin: 30px auto;
  /* overflow: auto; */
  min-height: 300px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 5px;
  direction: rtl;

}

.createCaseContainer {
  max-width: 25% auto;
  margin: 30px auto;
  overflow: auto;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

/* .description::placeholder {
  font: 20px/3 Karantina;
} */
.description-form {
  display: flex;
  margin: 10px;
}

.description {
  width: 100%;
  margin-right: 10px;
  border-radius: 10px;
}

.description-index{
  background-color: #BF9E87;
  border-radius: 10px;
  color: white;
  padding: 3px;
}

.caseType-input{
  align-items: center;
  margin: 10px;
}

.btn-casetype {
  display: inline-block;
  background: #BF9E87;
  color: white;
  border: none;
  border-color: #D0B49F;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  font-family: cursive;
  font-weight: bold;
  border-radius: 20px;
}

.addLawyer{
  justify-content: center;
  text-align: center;
  display: grid;
}


.input{
  margin-top: 20px;
  margin-right: 10px;
  width:33%;
  height:45px;
  border-radius:4px;
  border:1px solid #d0b49f;
  box-sizing:border-box;
   direction:rtl;


}

.btn-clicked {
  display: inline-block;
  background: white;
  color: #523A28;
  border: 2px solid;
  border-color: #523A28;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  font-family: cursive;
  font-weight: bold;
  border-radius: 20px;
}


.btn-not-clicked {
  display: inline-block;
  background: #523A28;
  color: white;
  border: none;
  border-color: #D0B49F;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  font-family: cursive;
  font-weight: bold;
  border-radius: 20px;
}

.logo-Login{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 20px;
}

.UserView{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 18px;
}

.logo-dash{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 18px;
}

.logo-user{
  display: block;
  width: 75%;
  margin-top: 20px;
}